
    <form action=/room method=post>
      <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token() %>">
      <button type="submit">Create new session</button>
    </form>
