<div class="row">
  <p>
    Hello!
    Nice meeting you, <%= @a%>
  </p>
</div>
<div class="row">
  <p>
    <form phx-change="name_change">
      <input type=text name=username />
    </form>
  </p>

</div>
