<div class="row">
  <p>
    Hello!
    Nice meeting you, stranger.
  </p>
</div>
<div class="row">
  <p>
    <form phx-submit="join">
      <input type=text name=username />
      <button type=submit>send</button>
    </form>
  </p>

</div>
